@use '@styles/mixins.module.scss' as mixins;
.container {
    @include mixins.flex-box-custom(space-between, center, 0);
    flex-direction: column;
    height: 100%;
    .total{
        @include mixins.flex-box-custom(space-between, center, 10px);
        width: 100%;
    }
    .boxBtn{
        @include mixins.flex-box-custom(center, center, 10px);
        flex-direction: column;
        width: 100%;
    }
    .boxFooter{
        @include mixins.flex-box-custom(center, center, 10px);
        flex-direction: column;
        width: 100%;
    }
    .containerProduct{
        height: 80%;
        overflow-y: scroll;
        scrollbar-width: none; 
        &::-webkit-scrollbar {
            display: none;    
        }
    }
}