@use '@styles/variables.module.scss' as *;
@use '@styles/mixins.module.scss' as mixins;
.container {
    @include mixins.flex-box-custom(center, center, 0);
    flex-direction: column;
}
.noProduct {
    font-size: 15.96px;
    color: $four-color;
    line-height: 22.8px;
    margin-bottom: 20px;
    text-align: center;
}
