@use '../../assets/styles/variables.module.scss' as *;
@use '../../assets/styles/mixins.module.scss' as mixins;

.container {
    margin-top: 83px;
    .container_navigation {
        @include mixins.flex_box_custom(space-between, center, 10px);
        color: $secondary_color;
        font-size: 14px;
        font-weight: 400;
    }
    .container_product {
        @include mixins.flex_box_custom(center, start, 0);
        .container_image {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 10px;
            width: calc(50%);
            margin-left: -10px;
            .image_wrapper{
                width: 100%;
                overflow: hidden;
                img{
                    transition: transform 0.3s ease-in-out;
                    cursor: zoom-in;
                }
            }
        }
        .container_info {
            padding: 10px;
            width: calc(50% + 20px);
            margin-right: -10px;
            .product_name {
                font-size: 24px;
                color: $four-color;
                margin-bottom: 20px;
            }
            .product_price {
                color: $secondary-color;
                font-size: 20px;
                margin-bottom: 20px;
            }
            .product_desc {
                margin-bottom: 20px;
                color: $thr-color;
                line-height: 25.6px;
            }
            .product_size {
                color: $thr-color;
                margin-bottom: 10px;
            }
            .box_size {
                @include mixins.flex_box_custom(start, center, 10px);
                margin-bottom: 30px;
                button {
                    @include mixins.flex_box_custom();
                    width: 30px;
                    height: 30px;
                    background-color: transparent;
                    border: 1px solid #e1e1e1;
                    font-size: 12px;
                    cursor: pointer;
                    &:hover {
                        border: 1px solid $secondary-color;
                    }
                }
                .btn_clear {
                    border: none;
                    align-items: end;
                    text-decoration: underline;
                    font-size: 14px;
                    margin-left: 20px;
                    cursor: pointer;
                    &:hover {
                        border: none;
                        color: $thr-color;
                    }
                }
                .active {
                    border: 1px solid $four-color;
                }
            }
            .box_btn {
                @include mixins.flex_box_custom(center, center, 10px);
                flex-direction: column;
                .box_cart {
                    @include mixins.flex_box_custom(space-between, center, 30px);
                    width: 100%;
                    .box_quantity {
                        @include mixins.flex_box_custom();
                        input {
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            border: 1px solid #e1e1e1;
                            border-right: none;
                            border-left: none;
                            &:focus {
                                outline: none;
                            }
                        }
                        span {
                            @include mixins.flex_box_custom();
                            height: 40px;
                            border: 1px solid #e1e1e1;
                            padding: 0 5px;
                            cursor: pointer;
                            color: $secondary-color;
                        }
                    }
                }
                .label_box {
                    font-size: 11.76px;
                    color: $four-color;
                }
                .box_buy {
                    width: 100%;
                }
                button {
                    padding: 13.3px 30.8px;
                    width: 100%;
                    flex: 1;
                }
            }
            .box_icon {
                @include mixins.flex_box_custom(start, center, 10px);
                margin-top: 20px;
                margin-bottom: 20px;
                span {
                    @include mixins.flex_box_custom();
                    border: 1px solid #e1e1e1;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
            .cartAdditional {
                margin-top: 30px;
                fieldset {
                    @include mixins.flex_box_custom(center, center, 10px);
                    border: 2px solid $border-color;
                    padding: 21px 7px;
                    margin-bottom: 10px;
                    legend {
                        padding: 0 7px;
                        font-size: 14px;
                        color: $secondary-color;
                        font-weight: 400;
                        width: 100%;
                        text-align: center;
                    }
                    .iconMethod {
                        position: relative;
                        img {
                            max-width: 50px;
                            border: 1px solid $border-color;
                        }
                        span {
                            position: absolute;
                            border: 1px solid $border-color;
                            top: auto;
                            bottom: 100%;
                            margin-top: 0;
                            margin-bottom: 10px;
                            text-align: center;
                            text-wrap: nowrap;
                            transform: translate(-50%, 50%);
                            color: $secondary-color;
                            font-size: 14px;
                            background-color: #ffffff;
                            padding: 5px;
                            opacity: 0;
                            transition: all 0.3s ease;
                        }
                        &:hover {
                            span {
                                opacity: 1;
                                transform: translate(-50%, 0);
                            }
                        }
                    }
                }
                .totalPayment {
                    font-size: 14px;
                    color: $thr-color;
                    text-align: center;
                    span {
                        color: $four-color;
                    }
                }
            }
            .product_meta {
                @include mixins.flex_box_custom(center, start, 10px);
                flex-direction: column;
                margin-bottom: 20px;
                div {
                    font-size: 16px;
                    color: $four-color;
                    span {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content {
    display: grid;
    grid-template-rows: 0fr;
    transition:
        grid-template-rows 0.4s ease-in-out,
        opacity 0.4s ease-in-out;
    opacity: 0;
    .content_inner {
        overflow: hidden;
        padding: 0 15px;
        transition: padding 0.4s ease-in-out;
        border-top: 1px solid transparent;
        .item {
            border-bottom: 1px solid $border-color;
            span {
                display: inline-block;
                width: 50%;
            }
            .item_value {
                padding: 14px 0px 14px 9.94px;
                color: $thr-color;
            }
            .item_title {
                color: $secondary-color;
                padding: 1em 0.71em 1em 0;
                font-size: 14px;
            }
        }
        .item:last-child {
            border-bottom: none;
        }
    }
    .container_title {
        font-size: 14px;
        div {
            color: $four-color;
            border-bottom: 1.2px solid $border-color;
            padding-bottom: 14px;
            margin-bottom: 14px;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 20px;
            color: $thr-color;
        }
    }
    .container_rating {
        p {
            font-size: 16px;
            color: $thr-color;
        }
        div {
            @include mixins.flex_box_custom(flex-start, center, 20px);
            span {
                color: $border-color;
                cursor: pointer;
            }
            span:hover {
                color: #fdd835;
            }
            .active_star {
                color: #fdd835;
            }
        }
        margin-bottom: 20px;
    }
    .container_input {
        margin-bottom: 20px;
        font-size: 16px;
        label {
            color: $thr-color;
            margin-bottom: 10px;
            display: inline-block;
        }
        textarea {
            width: 100%;
            height: 200px;
            border: 1px solid $border-color;
            padding: 10px;
            &:focus {
                outline: none;
            }
        }
        input {
            width: 100%;
            height: 40px;
            border: 1px solid $border-color;
            padding: 10px;
            &:focus {
                outline: none;
            }
        }
    }
    .container_checkbox{
        @include mixins.flex_box_custom(flex-start, start, 10px);
        input {
            width: 15px;
            height: 15px;
        }
        label {
            color: $thr-color;
            margin-bottom: 10px;
            display: inline-block;
            flex: 1;
        }
    }
}
.active.content {
    grid-template-rows: 1fr;
    opacity: 1;
    .content_inner {
        padding: 15px;
    }
}
.container_related {
    margin-top: 40px;   
    h2{
        font-size: 24px;
        color: $primary-color;
        margin-bottom: 20px;
        font-weight: 400;
        text-align: center;
    }
}
