@use "@styles/variables.module.scss" as *;
@use "@styles/mixins.module.scss" as mixins;
.container{
    @include mixins.flex_box_custom(center, center, 0);
    .timer{
        @include mixins.flex_box_custom(center, center, 10px);
        @include mixins.radius_common(2px);
        margin: 5px;
        width: 100px;
        height: 41px;
        background-color: $white-color;

        color: $four-color;
        font-size: 18px;
        .time{
            color: $secondary-color;
        }
    }

}