@use '@styles/variables.module.scss' as *;
@use '@styles/mixins.module.scss' as mixins;

.container {
    position: relative;

    .overlay {
        position: fixed;
        inset: 0;
        background-color: #000;
        opacity: 0.3;
        z-index: 1000;

        transition: all 0.3s ease;
    }
    .sideBar {
        position: fixed;
        top: 0;
        right: 0;
        width: 370px;
        height: 100vh;
        background-color: #fff;
        z-index: 1001;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
        padding: 20px 30px;
        transform: translateX(100%);
        transition: all 0.3s ease;
    }
    .sideBarOpen {
        transform: translateX(0);
    }
    .close{
        @include mixins.flex-box-custom(center, center, 0);
        position: absolute;
        top: 15px;
        right: 390px;
        cursor: pointer;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #f5f5f5;
        &:hover{
            background-color: #e0e0e0;
        }
    }

}
