@use "@styles/mixins.module.scss" as mixins;
@use "@styles/variables.module.scss" as *;
.container{
    @include mixins.flex_box_custom(center, center, 0px);
    background-image: url("https://xstore.b-cdn.net/elementor2/marseille04/wp-content/uploads/sites/2/2022/12/02-SLIDESHOW-1.jpeg");
    min-height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    .banner_title{
        font-size: 42px;
        font-weight: 400;
        line-height: 52px;
        color:$four-color;
        margin: 0px;
        margin-bottom: 20px;
    }
    .banner_desc{
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color:$thr-color;
        margin-bottom: 40px;
    }
}