@use '@styles/variables.module.scss' as *;
@use '@styles/mixins.module.scss' as mixins;

.container{
    @include mixins.flex-box-custom(center, center, 0px);
    padding: 40px 0;
    background-color: $footer-color;
    color: $white-color;
    .containerFooter{
        @include mixins.flex-box-custom(center, center, 0px);
        flex-direction: column;
        text-align: center;
        img{
            width: 160px;
            height: auto;
            margin-bottom: 20px;
        }
        .containerNav{
            @include mixins.flex-box-custom(center, center, 50px);
            margin-top: 15px;
            margin-bottom: 40px;
            a{
                text-decoration: none;
                font-size: 15px;
                color: $white-color;     
            }
        }
        .desc{
            font-size: 15px;
            margin-bottom: 20px;
        }
        .payment{
            img{
                width: 270px;
                height: auto;
            }
            margin-bottom: 40px;
        }
        .copyright{
            font-size: 16px;
        }

    }
}