@use '../../assets/styles/variables.module.scss' as *;
@use '../../assets/styles/mixins.module.scss' as mixins;
.container {
    border-bottom: 1px solid $border-color;
    .title {
        @include mixins.flex_box_custom(flex-start, center, 10px);
        padding: 9px 15px;
        color: $thr-color;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .title.active {
        background-color: #f7f7f7;
    }

}
.container:last-child {
    border-bottom: none;
}