@use '@styles/mixins.module.scss' as mixins;
@use '@styles/variables.module.scss' as *;

.container {
    @include mixins.flex-box-custom(center, center, 0);
    flex-direction: column;
    color: $four-color;
    font-weight: 400;
    font-size: 14px;
    
    .checkBox {
        @include mixins.flex-box-custom(center, center, 10px);
        align-self: flex-start;
        margin-bottom: 20px;
    }
}
