@use '@styles/variables.module.scss' as *;
@use '@styles/mixins.module.scss' as mixins;
.containerHeader {
    @include mixins.flex_box_custom(space-between, center, 0);

    height: 53.033px;
    font-size: 15px;
    width: 1250px;

    .containerBox {
        @include mixins.flex_box_custom(center, center, 20px);
        .containerBoxAction {
            @include mixins.flex_box_custom(center, center, 15px);
            cursor: pointer;
            .boxCompare{
                position: relative;
                .total{
                    @include mixins.flex_box_custom();
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    background-color: $primary-color;
                    color: white;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    font-size: 12px;
                }

            }
        }
        .containerBoxIcon {
            @include mixins.flex_box_custom(center, center, 8px);

        }
    }
    .containerMenu {
        @include mixins.flex_box_custom(center, center, 33px);
        color: $primary-color;
        padding: 10px 0;
        a {
            position: relative;
            text-decoration: none;
            display: block;
            padding: 10px 0;
            span {
                color: $primary-color;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                bottom: -2px;
                width: 0%;
                height: 2px;
                background-color: black;
                transition: all 0.3s ease;
                opacity: 0;
            }
            &:hover::after {
                width: 100%;
                opacity: 1;
            }
        }
    }
    .containerLogo {
        @include mixins.flex_box_custom(space-between, center, 0);
        img {
            width: 153px;
            height: 53px;
        }
    }
}
.boxIcon {
    @include mixins.radius_common(50%);
    @include mixins.flex_box_custom(center, center, 0);
    background-color: $primary-color;
    width: 26px;
    height: 26px;
    a {
        @include mixins.flex_box_custom(center, center, 0);
    }
}
.container {
    @include mixins.flex_box_custom(center, center, 0);
    padding: 15px 0;
    
    left: 0;
    right: 0;
}
.fixedHeader {
    position: fixed;
    top: -83px;
    z-index: 999;
    transform: translateY(83px);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    transition: transform 1s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 0px 12px 0px;

}
.absoluteHeader {
    position: absolute;
    top: 0;
}