@use "@styles/variables.module.scss" as *;
@use "@styles/mixins.module.scss" as mixins;

.container{
    width: 100%;
    height: 100%;
    background: url("https://xstore.b-cdn.net/elementor2/marseille04/wp-content/uploads/sites/2/2022/12/photo-of-man-wearing-white-hoodie-5474310.jpeg") no-repeat center center/cover;
    grid-area: span 1/ span 2;
    @include mixins.flex_box_custom(center, center, 10px);
    flex-direction: column;
    .container_title{
        width: 573px;
        height: 40px;
        margin-bottom: 20px;
        .title{
            font-size: 28px;
            font-weight: 400;
            color: $four-color;
            line-height: 40px;
            text-align: center;
        }

    }
}