@use "@styles/variables.module.scss" as *;
@use "@styles/mixins.module.scss" as mixins;

.container{
    @include mixins.flex_box_custom();
    padding: 20px 55px;
    background-color: rgb(51, 51, 51);
    margin: 0 auto;
    margin-top: -75px;
    width: 1230px;
    .containerBox{
        @include mixins.flex_box_custom(start,center, 20px);
        padding: 15px;
        .containerContent{
            @include mixins.flex_box_custom(center,start, 8px);
            flex-direction: column;
            height: 75px;
            .title{
                font-size: 17px;
                line-height: 22px;
                color: $white-color;
                font-weight: 400;
            }
            .content{
                font-size: 16px;
                line-height: 21px;
                color: rgba(255, 255, 255, 0.78);
            }
        }
    }
}